body {
  min-height: 1000px;
  margin: 0;
  padding: 0;
}
.jumbotron {
  padding-top: 1rem;
  margin-bottom: 0;
  background-color: #b04a4a;
}

.logo {
  color: #b04a4a;
  margin-right: 10px;
  font-size: 20px;
}

#about .container {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

section {
  overflow: hidden;
}

section {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

svg {
  display: block;
}

.footer {
  background-color: #b04a4a;
}
